body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1rem;
}
.container{
    border-radius: 20px;
    margin-bottom:10px;
    box-shadow: 3px 3px 10px 0px;
    background-color:darkslategray; 
    height: 80vh
}
.info{
   text-align:center;
   color: white;
}
span{
    font-weight: bold;
    padding: 10px;
}
h3{
    padding: 10px;
}
#head{
    background-color: black;
    color: white;
    height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 3px;
}
.flag{
    width: 100%;
    height: 15rem;
    margin-bottom: 10px;
}
#btn{
    margin-top: 10px;
}

#temp1{
    color: rgb(167, 15, 15);
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
#tempMax{
    color: rgb(167, 15, 15);
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}
#tempMin{
    color: rgb(167, 15, 15);
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

